
/* The Aside bar */
.aside {
    background-color: #ffbc13; }

.aside-menu {
    background-color: #ffbc13;
}

.aside-menu .menu-nav > .menu-item > .menu-arrow {
    color: #ffbc13; }
/* End Aside bar */



/* The Aside active or over links */
.aside-menu .menu-nav > .menu-item.menu-item-open > .menu-heading,
.aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link {
  background-color: #ffbc13 ; }

.aside-menu .menu-nav > .menu-item.menu-item-here > .menu-heading,
.aside-menu .menu-nav > .menu-item.menu-item-here > .menu-link {
background-color: #ffbc13 ; }

.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading,
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link {
  background-color: #ffbc13 ; }


.aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading,
.aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link {
    background-color: #d49800 ; }


.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-heading,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-link {
    background-color: #ffbc13 ; }

.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-here > .menu-heading,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-here > .menu-link {
    background-color: #ffbc13 ; }

.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-heading,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link {
    background-color: #ffbc13 ; }

.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link {
    background-color: #ffbc13 ; }
/* End Aside active or over links */



/* Start Brand */
@media (min-width: 992px) {
    .brand {
      background-color: #ffbc13; }}


@media (max-width: 991.98px) {
    .header-mobile {
        background-color: #ffbc13; } }


/* Start header bar */
@media (max-width: 991.98px) {
    .topbar {
        background-color: #ffbc13; } }
@media (min-width: 992px) {
    .header {
        background-color: #ffbc13; } }


@media (max-width: 991.98px) {
    .header-mobile .burger-icon span {
      background-color: #fff; }
      .header-mobile .burger-icon span::before, .header-mobile .burger-icon span::after {
        background-color: #fff; } }
